<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- SQL Server target -->
		<target xsi:type="Database" name="database">
			<commandText>
				INSERT INTO Log (Application, Logged, LogonUserEmail, logger, Level, Message, Exception)
				VALUES ('RRM', @time_stamp, @logonUserEmail, @logger, @level, @message, @exception)
			</commandText>
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@logonUserEmail" layout="${mdlc:logonUserEmail}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=ToString}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>